<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5abfbe5-afa0-4ab3-9ea0-5785641a2d10" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-04-22T19:52:20</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0d2efa74251d4febb5116295579550e3",
        "areas": [
          {
            "key": "3b490f17-1471-4ac4-9434-60e676639e29",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "udi": "umb://element/0d2efa74251d4febb5116295579550e3",
      "image": [],
      "headline": "Test"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
  </Properties>
</Content>